
@{
    ViewBag.Title = "Index";
}

<h2>Line Quadrant Demonstration</h2>

<form method="POST" action="/Cartesian/LineShow">
    <div>
        <label>X1 VALUE</label>
        <input type="number" name="x1" />
    </div>
    <div>
        <label>Y1 VALUE</label>
        <input type="number" name="y1" />
    </div>
    <div>
        <label>X2 VALUE</label>
        <input type="number" name="x2" />
    </div>
    <div>
        <label>Y2 VALUE</label>
        <input type="number" name="y2" />
    </div>
    <div>
        <input type="submit" value="SUBMIT"/>
    </div>
</form>
