body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#cartesiancontainer
{
    position:relative;
    padding-bottom:800px;
}

#cartesianplane
{
    width:20vw;
    height:20vw;
    border:1px solid #dedede;
    border-top:none;
    border-right:none;
    position:absolute;
    top:0px;
    bottom:0px;
    margin: auto;
    left: 50%;
}
#Xscalelowerbound, #Xscaleupperbound, #Yscalelowerbound, #Yscaleupperbound
{
    position:absolute;
}
#Xscalelowerbound, #Xscaleupperbound
{
    bottom:-1vw;
}
#Xscaleupperbound {
    left:21vw;
}
#Xscalelowerbound {
    left:-23vw;
}
/*y*/
#Yscalelowerbound, #Yscaleupperbound {
    left: -1vw;
}

#Yscaleupperbound {
    bottom: 20vw;
}

#Yscalelowerbound {
    bottom: -22vw;
}
.point:after{z-index:1; margin-top:-2.5px; margin-left:-2.5px; background:red; border-radius:5px; width:5px; height:5px; content:''; position:absolute;}

#cartesianplane:after {
    content: '';
    width: 20vw;
    height: 0.5px;
    position: absolute;
    background: #dedede;
    bottom: -1px;
    right: 100%;
}
#cartesianplane:before {
    content: '';
    width: 1px;
    height: 20vw;
    position: absolute;
    background: #dedede;
    bottom: -100%;
    left: -1px;
}